/*-------------------------------------
|fonts
-------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Poiret+One);


/*-------------------------------------
| Resets
-------------------------------------*/
* {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

/*-------------------------------------
| root
-------------------------------------*/

body { background-color: #FFFFFF; margin: 0px;
 }
  a:link {color: #A63C44;}

.page-wrapper {
width: 90%;
max-width: 1200px;
min-width: 320px;
padding: 25px;
margin-top: 300px;

margin: 300px auto 0px;

}

/*-------------------------------------
| first children
-------------------------------------*/
.intro { padding: 10px; position: relative; }
.supporting {  padding: 10px; }
.sidebar { padding: 10px;}


/*-------------------------------------
| .intro children
-------------------------------------*/
.intro header { padding: 10px; }
.intro .summary { 
width: 300px;
position: relative;
top: -100px;
left: 0px;
}
.intro .preamble { padding: 10px; }


/*-------------------------------------
| .supporting children
-------------------------------------*/
.supporting .explanation	{ padding: 10px; }
.supporting .participation { padding: 10px; }
.supporting .benefits { padding: 10px; }
.supporting .requirements { padding: 10px; }
.supporting footer { padding: 10px;
font-family: Avenir; font-size: 12px; }


/*-------------------------------------
| .sidebar children
-------------------------------------*/
.sidebar .design-selection	{ padding: 10px; }
.sidebar .design-archives { padding: 10px; }
.sidebar .zen-resources { padding: 10px; }



/*-------------------------------------
| Resoponsive
-------------------------------------*/
@media screen and (min-width:500px) {

body { background-image: url(../img/triangle-bg_02.jpg); 
background-repeat: no-repeat;
background-position: center;

}

@media screen and (min-width:900px) {

body { background-image: url(../img/triangle-bg_02.jpg); 
background-repeat: no-repeat;
background-position: -100px 230px;
background-size: 1600px; }


.page-wrapper {
position: relative;
padding: 0px; 
}

.intro { width: 70%; }
.supporting { width: 70%; }

.sidebar {
position: absolute;
width: 30%;
right: 0px; 
top: 0px; 
}
}



/*----------------------------
|SIDE BAR NAVIGATION
----------------------------*/
/*GET RID OF BULLETED LIST*/
nav ul {margin: 0px; padding: 0px;}
nav li {list-style-type: none; display: inline;
font-family: Avenir; 
font-size: 11px;}

.zen-resources ul {margin: 0px; padding: 0px;}
.zen-resources li {list-style-type: none; display: inline;}



/*---------------------------
|SELECT A DESIGN
---------------------------*/

.design-selection li {
display: block; 
background-image: url(../img/people2_07.png);

margin-bottom: 15px;
height: 130px;
width: 355px;
font-size: 0px;

}

.designer-name {
display:block;
 
 position: relative;
margin-top: 78px;
margin-left: 143px;

}

.design-selection a.design-name {
display: block; 

text-align: center;
text-transform: uppercase;
font-size: 11px;
text-decoration: none;

position: relative;
top: 92px;
}

.design-selection a.design-name:hover

/*this tergets the "by"*/
.design-selection li {
display: block;
color: #A63C44;
margin-bottom: 20px;
font-size: 11px;
text-align: right;
}

/*targets the designer-name link*/
.design-selection a.designer-name {
color: #A63C44;
font-family: Avenir;
font-size: 11px;
line-height: 40px;
}



/*----------------------------
|ZEN RESOURCES AND ARCHIVES
----------------------------*/
.zen-resources a, .design-archives a {
display: block;

line-height: 200px;
background-image: url(../img/people2_07.png);
margin-bottom: 5px;
height: 130px;
width: 355px;

text-align: center;
text-transform: uppercase;
font-size: 11px;
text-decoration: none;
font-family: Avenir; font-size: 10px;
}

.zen-resources a:hover, .design-archives a:hover 
{background-image: url(../img/people2_07.png);}

/*--------------------------
|H3 Animated Background
--------------------------*/
h3 {
line-height: 100px;
font-size: 30px;
font-family: 'Poiret One', cursive;

background-image: url(../img/titles_02.png);
text-align: center;

background-position: left top;

transition: all .5s;
}
h3:hover {
background-position: left bottom;
transition:all .5s;
}

.sidebar h3 {font-size: 18px; line-height: 50px; }



/*H4*/
h4 {
line-height: 100px;
font-size: 30px;
font-family: 'Poiret One', cursive;
color: #A32432;
text-align: center;

background-position: left top;
transition: all .5s;
}
h4:hover {
background-position: left bottom;
transition:all .5s;
}

.sidebar h4 {font-size: 18px; line-height: 50px; }


/*-------------------------
|Before and After
-------------------------*/
/*p:before {
content: "• ";
}
p:after {
content: " The Capitol Is Listening.";
}*/
.page-wrapper:before {
content: "";
display: block;
width: 250px;
height: 250px;

position: absolute;
left: -250px;
top: 0px;
}
.page-wrapper:after {
content: "";
display: block;
width: 250px;
height: 250px;

position: absolute;
right: -250px;
top: 0px;

}

h1 {
width: 690px;
height:270px;
float: right;
margin-top: -300px;
margin-right: -130px;


font-size: 0px;
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
}
 


p {font-family: Avenir;
font-size: 12px; }


/* lightbox */

.sect3 { 
	/*background-color: #fff4f0; 
	color: #be7173;*/

	width: 300px;
	padding-bottom: 25px;
	margin: 25px auto;
	margin-top: 0px;
	margin-left: 150px;
	border-radius: 5px;


}

			#gallery {
				border: solid 69px #c49797;
				overflow: auto;
				padding: 0px 0px 0px 0px;
				/*padding: 50px 0px 50px 45px;*/
			}

			#gallery div {
				width: 200px;
				height: 100px;
				border: solid 5px #B6B6B6;

				margin: 10px;

				overflow: hidden;

				float: left;
			}

			#gallery div img {
				width: 100%;
			}

			#dark {
				display: none;
				background-color: rgba(0,0,0,.8);

				position: fixed;
				top: 0px;
				bottom: 0px;
				right: 0px;
				left: 0px;

				z-index: 1000;
			}

			#dark #light {
				background-color: #fff;

				width: 600px;
				height: 340px;

				position: fixed;
				top: 0px;
				bottom: 0px;
				right: 0px;
				left: 0px;

				margin: auto;

				padding: 10px;
			}

			#dark #light img {
				width: 100%;
				height: auto;
			}

			#dark #light .close {
				position: absolute;
				right: 0px;
				top: 0px;

				background-color: #fff;
				font-size: 12px;
				padding: 5px;

			}

.panem {
	max-width: 70%;
	height: auto;
}

.quarter {
	max-width: 50%;
	height: auto;
	margin-bottom: 300px;
	margin-top: -40px;
}

.text1 {
	margin-left: 264px; 
	margin-top: -546px;
	}

img {max-width: 100%;}

.headerimg {
	margin-left: 520px;
	margin-top: -340px;
}